# Core Web App
streamlit==1.32.2
fastapi==0.110.1
uvicorn==0.29.0

# Environment & Auth
pydantic==1.10.15
python-dotenv==1.0.1

# LLMs & Langchain
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.36
langchain-groq==0.0.1
groq==0.24.0

# Data
pandas==2.2.1
requests==2.31.0

# File Parsing
python-docx==1.1.2
openpyxl==3.1.2
PyMuPDF==1.24.0
Pillow==9.5.0 --only-binary=:all:
numpy>=1.26.0,<=1.26.4

# OCR
google-cloud-vision>=3.7.0,<4.0.0

# Authentication
google-auth==2.14.1

# Build dependencies
setuptools>=65.0.0
wheel

# Protobuf version that works with Streamlit and Google Cloud
protobuf==3.20.2

# Additional required dependencies
pyopenssl>=23.2.0
